/* === General === */
/* HTML5 elements */
article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; }

body.claro {
	background-color: #73B4FF;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 10px 0px;
}

h1 { font-size: 3em; font-weight: bolder; }

/* === Specific elements === */
#wrap {
	/* Mmm, borders */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* Drop shadows too */
	webkit-box-shadow: 5px 5px 5px #474747;
	-moz-box-shadow: 5px 5px 5px #474747;
	box-shadow: 5px 5px 5px #474747;	
	/* Other more boring stuff */
	background-color: #FFF;
	margin: 10px auto;
	width: 960px;
	padding: 10px;
}

#loading {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.colorwrap {
	/* Clears floats, I hear */
	overflow: hidden;
}

.colorpane {
	display: block;
	float: left;
	width: 206px;
	height: 100px;
	border: 1px solid black;
	margin: 5px;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 55px;
	text-align: center;
}

.dijitColorPalette {
	float: left;
	margin: 5px;
}

#slider {
	/*margin: 5px;
	width: 433px;*/
	width: 100%;
}

#controls {
	margin-left: 223px;
	width: 424px;
	height: 127px;
	text-align: center;
}

#leftControls, #rightControls {
	width: 190px;
	text-align: center;
}

#resultCol {
	margin-left: 223px;
	width: 424px;
}

/* vim: set sw=4 ts=4 noet: */
