/* CSS for HTML 5 Drum Kit */
#sounds { display: none; }

#controls > li {
	padding-bottom: 0px;
}

ul.soundrow li {
	display: inline-block;
}

ul.soundrow li.header {
	width: 150px;
}

ul.soundrow li.pip {
	display: inline-block;
	width: 20px;
	border: outset 3px #999;
	background-color: #333;
}

ul.soundrow li.active {
	border: inset 3px #990;
	background-color: #CC0;
}
